html {
	margin: 0px;
	height: 100%;
	font-family: "Alata", sans-serif;
}

body {
	background-color: #582828;
	background-repeat: no-repeat;
	margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#site_wrapper {
    position: relative;
    min-height: 100vh;
}



#navbar_wrapper {
    color: white;
    font-size: 30px;
    text-align: center;
	font-family: "Alata", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar_left {
    float: left !important;
    padding-right: 0px;
    padding-left: 40px;
}

.navbar_right {
    float: right !important;
    padding-left: 0px;
    padding-right: 0px;
}

#navbar_table {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}



#main_content_wrapper {
    flex-grow: 1;
    padding-bottom: 2.5rem;
}

#heading {
    text-align: center !important;
    text-decoration: underline;
    font-size: 70px;
    color: white;
    margin-top: 50px;
}

#subheading {
    text-align: center !important;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    font-family: "Fira Mono", monospace;
}

#desc {
    width: 60%;
    color: white;
    text-align: center;
    font-size: 22.5px;
    margin: auto;
}

.contact_item {
	text-align: center;
	color: #ffffff;
}

.contact_item a {
	text-decoration: underline;
}

#contact_item_wrapper {
	margin-top: 80px;
	font-size: 30px;
}


footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: 2.5rem;
}



@media only screen and (max-device-width: 650px) {
    #navbar_table {
        font-size: 80%;
    }

    #heading {
        font-size: 400%;
    }

    #subheading {
        font-size: 250%;
    }

    #contact_item_wrapper {
        font-size: 150%;
    }

    footer {
        font-size: 100%;
    }
}

@media only screen and (max-device-width: 550px) {
    #navbar_wrapper {
        font-size: 170%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #heading {
        font-size: 350%;
    }

    #subheading {
        font-size: 200%;
    }

    #contact_item_wrapper {
        font-size: 140%;
    }

    footer {
        font-size: 100%;
    }
}

@media only screen and (max-device-width: 450px) {
    #navbar_table {
        font-size: 70%;
    }

    .navbar_left {
        padding-left: 10px;
    }

    .navbar_right {
        padding-right: 10px;
    }

    #heading {
        font-size: 300%;
    }

    #subheading {
        font-size: 150%;
    }

    #contact_item_wrapper {
        font-size:110%;
		
    }

    footer {
        font-size: 70%;
    }
}

@media only screen and (max-device-width: 350px) {
    #navbar_table {
        font-size: 55%;
    }
}
