html {
	margin: 0px;
	height: 100%;
	font-family: "Alata", sans-serif;
}

body {
	background-color: #582828;
	background-repeat: no-repeat;
	margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#site_wrapper {
    position: relative;
    min-height: 100vh;
}


#navbar_wrapper {
    color: white;
    font-size: 30px;
    text-align: center;
	font-family: "Alata", sans-serif;
    padding-left: 40px;
    padding-right: 40px;
}

.navbar_left {
    float: left !important;
    padding-right: 0px;
    padding-left: 40px;
}

.navbar_right {
    float: right !important;
    padding-left: 0px;
    padding-right: 0px;
}

#navbar_table {
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
}



#main_content_wrapper {
    flex-grow: 1;
    padding-bottom: 2.5rem;
}

#heading {
    text-align: center !important;
    text-decoration: underline;
    font-size: 70px;
    color: white;
    margin-top: 50px;
}

#subheading {
    text-align: center !important;
    font-size: 40px;
    color: white;
    margin-top: 50px;
    font-family: "Fira Mono", monospace;
}

#desc {
    width: 60%;
    color: white;
    text-align: center;
    font-size: 22.5px;
    margin: auto;
}

#link {
    text-align: center !important;
    font-size: 25px;
}

#link a {
    text-decoration: underline;
}

#projects_table {
    width: 80%;
    color: white;
    font-family: "Fira Mono", monospace;
    font-size: 22.5px;
    margin: 0 auto 0 auto;
}

#projects_table td {
    border-bottom-style: solid;
    border-bottom-color: white;
    vertical-align: top;
    padding-top: 40px;
    padding-bottom: 150px;
    max-width: 50%;
    text-align: center;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}

#projects_table a {
    font-size: 90px;
}

.heading {
    font-family: "Alata", sans-serif;
    text-decoration: underline;
    font-size: 30px;
}



footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: 2.5rem;
}




@media only screen and (max-device-width: 650px) {
    #navbar_table {
        font-size: 80%;
    }

    #heading {
        font-size: 400%;
    }

    #subheading {
        font-size: 250%;
    }

    #desc {
        font-size: 150%;
    }

    footer {
        font-size: 150%;
    }
}

@media only screen and (max-device-width: 550px) {
    #navbar_wrapper {
        font-size: 170%;
        padding-left: 20px;
        padding-right: 20px;
    }

    #heading {
        font-size: 350%;
    }

    #subheading {
        font-size: 200%;
    }

    #desc {
        font-size: 100%;
    }

    footer {
        font-size: 100%;
    }
}

@media only screen and (max-device-width: 450px) {
    #navbar_table {
        font-size: 70%;
    }

    .navbar_left {
        padding-left: 10px;
    }

    .navbar_right {
        padding-right: 10px;
    }

    #heading {
        font-size: 300%;
    }

    #subheading {
        font-size: 150%;
    }

    #desc {
        font-size: 90%;
    }

    footer {
        font-size: 70%;
    }
}

@media only screen and (max-device-width: 350px) {
    #navbar_table {
        font-size: 55%;
    }
}
